ContactConvert/ContactConvert/ContactSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ContactSchema"
    targetNamespace="http://tempuri.org/ContactSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/ContactSchema.xsd"
    xmlns:mstns="http://tempuri.org/ContactSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ContactCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ContactName" type="xs:string"/>
        <xs:element name="MobileNum" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
